php_flag magic_quotes_gpc Off


AddDefaultCharset utf-8

DirectoryIndex index.php


RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !favicon.ico


RewriteRule ^(.*) index.php
